.active {
    background-color: green;
}

button {
    background-color: red;
    color: white;
    width: 30px;
}

.pulse {
  animation: pulse 0.5s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}